.main-col, .container {
  margin-left: 0;
  margin-right: 0;
}

.sign-in {
  float: right;
  padding-left: 3px;
  padding-right: 3px;
  display: inline;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.nav {
  display: inline-block;
}

.green-col {
  background-color: rgb(245, 255, 250);
}

.blue-col {
  background-color: rgb(245, 250, 255);
}

img {
  height: 125px;
}

.left-main-col {
  width: 15%;
}

.right-main-col {
  width: 85%;
}
